:root {

    /* colours */
    --primary-color: #2947a9;
    --secondary-color: #f9995d;
    --neutral: #292e3d;
    --Grey: #a3aac2;
    --Light: #f6f8f7;
    --white: #ffffff;

    

    /* fonts */
   --montserrat-regular: 'Montserrat', sans-serif;
   
}


